body{
    background-color: beige;
}
h1 {
    color: saddlebrown;
    font-size: 55px;
    text-align: center;
}
.p1{
    font-size: 15px;
    text-align: center;
    color:saddlebrown;
}
button{
    background-color: beige;
    color: black;
}
img{
    size: 50px;
}
