<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{{ url_for('static', filename='website1.css') }}">
<head>
    <title>Buffy's Gym - Join Now.</title>
</head>
<body>
<div style="text-align: center; justify-content: center;">
    <a href="{{ url_for('Home') }}">
    <button>Home</button>
</a>
<a href="{{ url_for('AboutUs') }}">
    <button>About Us</button>
</a>
<a href="{{ url_for('Membership') }}">
    <button>Membership</button>
</a>
</div>
<h1>Membership Details</h1>
<p class="p1"><b>We're happy to have you with us.</b><br>Just contact us via phone or email.</p>
<p class="p1">Phone Number: 021-3456789<br>Email: support@buffy.pk</p>
<div style="text-align: center; justify-content: center;">
</div>
</body>
</html>
